.container {
    height: 100px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between 10px;
    align-items: left;
    
  }
  
 .logo {
  font-size: 32px;
  padding: 10px;
  margin: 20px 20px 20px 20px;
 }
 
.logout {
  padding: 3px;
  background-color: #53c28b;
  border: 4px;
  border-color: black;
  color:white;
  cursor: pointers;
  border-radius: 4px;

}
 
.links {
    display: flex; 
    align-items: center;
    gap: 10px;
    font-size: 20px;
  }