.container {
    height: 100px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    
  }
  
 .logo {
  font-size: 4vw;
  font-weight: 800;
  background-color: #bbb;
  vertical-align: center;
  padding: 8px 12px 8px 12px;
  margin: 6px 12px 6px 12px;
  border-radius: 0.5em;
  color: grey;
 }
 
.logout {
  font-size: 3vw;
  padding: 3px;
  background-color: #53c28b;
  border: 4px;
  border-color: black;
  color:white;
  cursor: pointers;
  border-radius: 4px;

}
 
.links {
    display: flex; 
    align-items: center;
    gap: 1vw;
    font-size: 3vw;
  }