

/* Larger screens */
@media (min-width: 992px) {
  body {
    font-size: 2vw;
  }
} 

/* Smaller tablets and mobiles */
@media (max-width: 768px) {
  body {
    font-size: 2vw;
  }
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #111;
  color: #bbb;
  font-size: 2vw;
}


a {
  text-decoration: none;
  color: inherit;
  
}


.top_level_container {
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  border: 2px 2px 2px 2px;
  border-color: red;
  display: flex;
  background-color: grey;
  flex-direction: column;
  justify-content: space-between;

}
